In [1]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

In [2]:
nlp = spacy.load('en_core_web_sm')

In [37]:
def preprocessing(text):
    doc = nlp(text)
    list1 = []
    for tokens in doc:
        if not tokens.is_stop:
            list1.append(str(tokens))
    return " ".join(list1)

In [38]:
text1 = "I love dogs and hate cats."

In [39]:
preprocessing(text1)

'love dogs hate cats .'

In [15]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_json('archive\combined.json',lines = True)

In [18]:
df.head()

,id,title,contents,date,topics,components
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,[],[National Security Division (NSD)]
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON – North Carolina’s Waccamaw River...,2012-07-25T00:00:00-04:00,[],[Environment and Natural Resources Division]
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTON– A $1-million settlement has been...,2011-08-03T00:00:00-04:00,[],[Environment and Natural Resources Division]
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTON—A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,[],[Environment and Natural Resources Division]
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]

In [28]:
df = df[ df['topics'].str.len()!= 0]

In [29]:
df.head()

,id,title,contents,date,topics,components
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division]
19,17-1419,2017 Southeast Regional Animal Cruelty Prosecu...,The United States Attorney’s Office for the Mi...,2017-12-14T00:00:00-05:00,[Environment],"[Environment and Natural Resources Division, U..."
22,15-1562,21st Century Oncology to Pay $19.75 Million to...,"21st Century Oncology LLC, has agreed to pay $...",2015-12-18T00:00:00-05:00,"[False Claims Act, Health Care Fraud]",[Civil Division]
23,17-1404,21st Century Oncology to Pay $26 Million to Se...,21st Century Oncology Inc. and certain of its ...,2017-12-12T00:00:00-05:00,"[Health Care Fraud, False Claims Act]","[Civil Division, USAO - Florida, Middle]"

In [40]:
df['contents'] = df['contents'].apply(preprocessing)

In [43]:
df["contents"]

4        U.S. Department Justice , U.S. Environmental P...
7        131 - count criminal indictment unsealed today...
19       United States Attorney Office Middle District ...
22       21st Century Oncology LLC , agreed pay $ 19.75...
23       21st Century Oncology Inc. certain subsidiarie...
                               ...
13081    Anthony Merrell Tyler , 34 , Yuba City , Calif...
13082    Department Justice U.S. Environmental Protecti...
13084    Subsidiary Agrees Plead Guilty Violating Forei...
13085    ZTE Corporation agreed enter guilty plea pay $...
13086    ZTE Corporation pleaded guilty today conspirin...
Name: contents, Length: 4688, dtype: object

Excercises

##### Excercise 1
- From a Given Text, Count the number of stop words in it.
- Print the percentage of stop word tokens compared to all tokens in a given text.

In [46]:
def preprocess(text):
    doc = nlp(text)
    i = 0
    j = 0
    for token in doc:
        if token.is_stop:
            i = i+1
        j = j+1
    print(f'The total number of stop words is {i}'.format(i))
    return (i/j)*100

In [47]:
text2 = 'Thor: Love and Thunder is a 2022 American superhero film based on Marvel Comics featuring the character Thor, produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures. It is the sequel to Thor: Ragnarok (2017) and the 29th film in the Marvel Cinematic Universe (MCU).The film is directed by Taika Waititi, who co-wrote the script with Jennifer Kaytin Robinson, and stars Chris Hemsworth as Thor alongside Christian Bale, Tessa Thompson,Jaimie Alexander, Waititi, Russell Crowe, and Natalie Portman. In the film, Thor attempts to find inner peace, but must return to action and recruit Valkyrie (Thompson),Korg (Waititi), and Jane Foster (Portman)—who is now the Mighty Thor—to stop Gorr the God Butcher (Bale) from eliminating all gods.'
preprocess(text2)

The total number of stop words is 39

26.351351351351347

Excercise 2

- Removing 'not' as a stopword from spacy

In [52]:
from spacy import vocab
nlp.vocab['not'].is_stop = False